node_modules**/node_modules/
**/npm-debug.log*
**/yarn-error.log
**/yarn-debug.log
**/.git
**/.svn
**/.hg
**/.gitignore
**/.gitmodules
**/.dockerignore
**/Dockerfile
**/Dockerfile.*
**/.npmignore
**/README.md
**/LICENSE
**/.*.swp
**/.editorconfig
**/.eslintignore
**/.eslintrc.json
**/.prettierignore
**/.prettierrc
**/.vscode
**/test/
**/tests/
**/spec/
**/coverage/
**/tmp/
**/temp/
**/logs/*

